{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>About Us</h3>
            <p>The Gold Cost Library is dedicated to providing excellent library services to students and the community.</p>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Location </a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact Us</h3>
            <p>Email: info@goldcostlibrary.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="footer-column">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><i class="ri-facebook-circle-fill icons"></i></a>
                <a href="#"><i class="ri-twitter-fill icons"></i></a>
                <a href="#"><i class="ri-instagram-line icons"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Gold Cost Library. All Rights Reserved.</p>
    </div>
</footer>
