{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="content">
    <div class="left">
        <h1>"Gold Cost Library"  provides The <span>Best</span> facilities to <span>Study</span> in Jhansi.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est debitis ducimus aperiam ab aut amet dignissimos error Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolorem.impedit omnis rerum.</p>
        <button>Book a Seat</button>
    </div>
    <div class="right"><img src="{% static 'images/baseImage.jpg' %}" alt="img"></div>
</div>

{% endblock %}